
DATABASE_URL= MONGODB_DATABASE_URL
NEXTAUTH_SECRET =   NEXT_AUTH
GITHUB_ID = in developer setting for Oauth GITHUB
GITHUB_SECRET =  in developer setting for Oauth GITHUB

GOOGLE_CLIENT_ID = in google cloud
GOOGLE_CLIENT_SECRET = in google cloud

FACEBOOK_CLIENT_ID = in facebook developer
env.FACEBOOK_CLIENT_SECRET = in facebook developer